alembic==0.8.10
alphalens==0.1.0
appdirs==1.4.0
appnope==0.1.0
bcolz==0.12.1
Bottleneck==1.2.0
cachetools==2.0.0
cffi==1.9.1
click==6.7
contextlib2==0.5.4
cryptography==3.2
cycler==0.10.0
cyordereddict==1.0.0
Cython==0.25.2
decorator==4.0.11
empyrical==0.2.2
enum34==1.1.6
IbPy2==0.8.0
idna==2.2
inflection==0.3.1
intervaltree==2.1.0
ipython==5.2.2
ipython-genutils==0.1.0
Logbook==1.0.0
lz4==0.8.2
Mako==1.0.6
MarkupSafe==0.23
matplotlib==2.0.0
mockextras==1.0.2
more-itertools==2.5.0
multipledispatch==0.4.9
ndg-httpsclient==0.4.2
networkx==1.11
numexpr==2.6.2
numpy==1.12.0
packaging==16.8
pandas==0.19.2
pandas-datareader==0.3.0.post0
patsy==0.4.1
pexpect==4.2.1
pickleshare==0.7.4
prompt-toolkit==1.0.13
ptyprocess==0.5.1
pyasn1==0.2.2
pycparser==2.17
pyfolio==0.7.0
Pygments==2.2.0
pymongo==3.4.0
pyOpenSSL==16.2.0
pyparsing==2.1.10
python-dateutil==2.6.0
python-editor==1.0.3
pytz==2016.10
Quandl==3.0.1
requests==2.13.0
requests-file==1.4.1
requests-ftp==0.3.1
scikit-learn==0.18.1
scipy==0.18.1
seaborn==0.7.1
simplegeneric==0.8.1
six==1.10.0
sklearn==0.0
sortedcontainers==1.5.7
SQLAlchemy==1.1.5
statsmodels==0.6.1
toolz==0.8.2
traitlets==4.3.1
tzlocal==1.3
wcwidth==0.1.7
zipline==1.0.2
